* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, sans-serif;
  padding: 2rem;
  background-color: gainsboro;
}

h1 {
  font-size: 6rem;
  text-align: center;
  padding: 6rem 0;
}

h2 {
  text-align: center;
  font-size: 5rem;
  padding: 11rem 0 5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form input {
  border: 1px solid #000000;
  padding: 2rem;
  font-size: 4rem;
  border-radius: 4rem;
}

form button {
  margin-top: 1.5rem;
  font-size: 4rem;
  padding: 2rem;
  border-radius: 4rem;
  border: 1px solid black;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  list-style: decimal inside;
}

.li-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 2rem;
  margin: 1rem 0;
  background-color: white;
}

li {
  font-size: 5rem;
  margin: 0.5rem 0;
}

.buttons-wrapper {
  display: flex;
}

.edit-button, .delete-button {
  width: 6rem;
  height: 6rem;
  border: outset;
  cursor: pointer;
}

.edit-button {
  background-image: url("./assets/edit-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem 6rem;
  margin: 0 1rem 0 0;
}

.delete-button {
  font-size: 1.6rem;
}

